<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h2 class="header"><%= t :about_1%></h2>
      <p ><%= t :about_2%>
      </p>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey darken-1 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img src="/images/team.jpg" style="width:100%;">
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <h2 class="center header"><%= t :about_3%></h2>
      <p class="center"><%= t :about_4%>
      </p>
      <br/>
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey white-text darken-4">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h2 class="center header white-text"><%= t :about_5%></h2>
    </div>
  </div>
  <div class="row container">
    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about1.svg" style="width:40%;"></h2>
        <h5 class="center"><%= t :about_6%></h5>

        <p class="center light white-text"><%= t :about_7%></p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about2.svg" style="width:40%;"></h2>
        <h5 class="center"><%= t :about_8%></h5>

        <p class="center light white-text"><%= t :about_9%></p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h2 class="center brown-text"><img src="/images/about3.svg" style="width:40%;"></h2>
        <h5 class="center"><%= t :about_10%></h5>

        <p class="center light white-text"><%= t :about_11%></p>
      </div>
    </div>
  </div>
</div>
