<div id="index-banner" class="parallax-container-sm">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <h2 class="left white-text"><%= t :cons_1%></h2>
    </div>
  </div>
  <div class="parallax"><img src="/images/es6_2.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h5 class="header"><%= t :cons_2%></h5>
      <p > <%= t :cons_3%>
      </p>
      <br>
      <h6 class="header blue-text"><%= t :cons_4%></h5>
      <ul>
      <li>- <%= t :cons_5%></li>
      <li>- <%= t :cons_6%></li>
      <li>- <%= t :cons_7%></li>
      <li>- <%= t :cons_8%></li>
      <li>- <%= t :cons_9%></li>
      <li>- <%= t :cons_10%></li>
      <li>- <%= t :cons_11%></li>
      <li>- <%= t :cons_12%></li>
      </ul>
      <br/>
    </div>
  </div>
</div>
