<div id="index-banner" class="parallax-container-sm">
  <div class="section no-pad-bot">
    <div class="container">
      <br>
      <h2 class="left white-text"><%= t :fact_1%></h2>
    </div>
  </div>
  <div class="parallax"><img src="/images/es4.jpg" alt="Unsplashed background img 1"></div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m12">
      <br/>
      <br/>
      <h5 class="header"><%= t :fact_2%></h5>
      <p > <%= t :fact_3%>
      </p>
      <br>
      <h6 class="header blue-text"><%= t :fact_4%></h5>
      <ul>
      <li>- <%= t :fact_5%></li>
      <li>- <%= t :fact_6%></li>
      <li>- <%= t :fact_7%></li>
      <li>- <%= t :fact_8%></li>
      <li>- <%= t :fact_9%></li>
      <li>- <%= t :fact_10%></li>
      <li>- <%= t :fact_11%></li>
      <li>- <%= t :fact_12%></li>
      <li>- <%= t :fact_13%></li>
      </ul>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey darken-1 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f1.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <h3 class="center header"><%= t :fact_14%></h3>
      <p class="center"><%= t :fact_15%>
      </p>
    </div>
  </div>
</div>
<div class="section blue-grey darken-3 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <h3 class="center header"><%= t :fact_16%></h3>
      <p class="center"><%= t :fact_17%>
      </p>
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f2.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-2 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f3.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <h3 class="center header"><%= t :fact_18%></h3>
      <p class="center"><%= t :fact_19%>
      </p>
    </div>
  </div>
</div>
<div class="section blue-grey darken-2 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <h3 class="center header"><%= t :fact_20%></h3>
      <p class="center"><%= t :fact_21%>
      </p>
    </div>
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f4.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
  </div>
</div>
<div class="section blue-grey lighten-1 white-text">
  <div class="row container">
    <div class="col s12 m6">
      <br/>
      <br/>
      <br/>
      <img class="responsive-img materialboxed hoverable" src="/images/f5.jpg" style="width:100%;">
      <br/>
      <br/>
    </div>
    <div class="col s12 m6">
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <br class="hide-on-small-only"/>
      <h3 class="center header"><%= t :fact_22%></h3>
      <p class="center"><%= t :fact_23%>
      </p>
    </div>
  </div>
</div>
