<!DOCTYPE html>
<html>
  <head>
    <title>Eveningsun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Abel" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-controller="<%=controller.controller_name%>" data-action="<%=controller.action_name%>">
    <header>
      <div class="navbar-fixed">
        <nav class="blue-grey darken-4" role="navigation">
            <div class="container">
            <div class="nav-wrapper">
              <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
              <a href="/" class="brand-logo">Evening Sun Consulting</a>
              <ul class="right hide-on-med-and-down">
                <li><a class="dropdown-button btn" href="#" data-target="ddsolutions">Solutions<i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a href="/main/about">About Us</a></li>
                <li><a href="/main/contact">Contact</a></li>
              </ul>
              <ul id="ddsolutions" class="dropdown-content blue-grey darken-4">
                <li><a href="/main/factoring">Factoring Automation</a></li>
                <li><a href="/main/consultancy">IT Systems Consultancy</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
      <ul class="sidenav" id="nav-mobile">
        <li><div class="user-view">
              <div class="background blue-grey lighten-3">
              </div>
              <a href="/"><img class="circle" src="/images/es_ico2.jpg"></a>
              <a href="/"><span class="white-text">Evening Sun Consulting</span></a>
            </div>
          </li>
        <li><a href="/main/factoring">Factoring Automation</a></li>
        <li><a href="/main/consultancy">IT Systems Consultancy</a></li>
        <li><a href="/main/about">About Us</a></li>
        <li><a href="/main/contact">Contact</a></li>
      </ul>

    </header>

    <%= yield %>
  </body>
</html>
