<!DOCTYPE html>
<html>
  <head>
    <title>Eveningsun</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="navbar-fixed">
        <nav class="black darken-4" role="navigation">
          <div class="nav-wrapper center">
            <a href="index2.html" class="brand-logo">Eveningsun Consulting</a>
            <ul class="right sidenav" id="nav-mobile">
              <li class="hide-on-small-only"><a href="collapsible.html"><i class="material-icons">arrow_back</i></a></li>
            </ul>
            <a class="left sidenav-trigger" href="#" data-target='nav-mobile'><i class="material-icons">menu</i></a>
          </div>
        </nav>
      </div>
    </header>

    <%= yield %>
  </body>
</html>
